* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/bg_list.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display';
}

main {
    margin: 50px;
    padding-top: 10px;
    margin-bottom: 80px;
}

header {
    width: auto;
    text-align: center;
    height: 30px;
    background-color: black;
    color: white;
}

header p {
    margin: 0;
    line-height: 30px;
    font-size: 15px;
}


.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    color: white;
}

.section1 p {
    padding-top: 15px;
    font-size: 17px;
}

.section1 img {
    width: 230px;
    height: 280px;
    object-fit: cover;
    border: 2.5px solid white;
}

.section1 div {
    flex: 0 1 700px;
}




.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    max-width: 1500px;
    margin: 0 auto;
}

.film-card {
    display: block;
    width: 320px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.film-card img {
    width: 320px;
    height: 210px;
    object-fit: cover;
    display: block;
    border: 2.5px solid white;
    margin: 0 auto;
}

.p-big {
    color: white;
    margin: 7px;
    font-size: 25px;
}

.p-small {
    color: #A2A2A2;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 45px;
    margin-top: 60px;
    margin-bottom: 120px;
    padding: 0;
    color: white;
    font-size: 40px;
    font-weight: normal;
}

h2::before, h2::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: white;
}

.rewards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.reward-card {
    display: block;
    width: 330px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.reward-card img {
    height: 200px;
    width: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}






footer {
    width: auto;
    text-align: center;
    height: 27px;
    background-color: black;
    color: white;
}

footer p {
    margin: 0;
    margin-top: 80px;
    line-height: 27px;
    font-size: 13px;
    color:#A2A2A2;
}

h3 {
    font-weight: normal;
    font-size: 33px;
}





#return-button-child {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: auto;
    inset: -20px 0px;
}

.return-button {
    width: 150px;
    height:auto;
    transition: transform 0.4s ease;
}

.return-button:hover {
    bottom: 30px;
    transform: scale(1.1);
}

.page-main {
    position: relative;
}








.film-card, .reward-card, .director {
    transition: transform 0.4s ease;
}

.film-card:hover, .reward-card:hover, .director:hover {
    bottom: 30px;
    transform: scale(1.07);
}